.navbar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-top {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    Padding:1% 7%;
    align-items: center;
    
    
}

.navbar-top-button {
    Padding: 14% 18%;
    background: #4375FB;
    border: none;
    color: #F2F2F2;
    font-family: Switzer;
    font-size: 1rem;
    font-weight: 400;
    width: 150%;
}

.navbar-top img{
    width: 22.5px;
    height: 21.92px;
}


.navbar-bottom {
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
    Padding:0% 7%;
    
}

.navbar-bottom-text {
    font-family: Switzer;
    font-size: 1.5rem;        
    font-weight: 700;
    color: #000000;
    
    
    
}

img{
    height: 30px;
}


.numbers{
    display: flex;
    align-items: center;
}

.numbers img{
    height: 16px;
    width: 16px;
    border-bottom: 3px solid black;
    margin-top: 1px;
}

.black-num{

    border-bottom: 3px solid black;
}

.gery-num{
    color: #d9d9d9;
}




@media screen and (max-width:800px){

    .navbar-top-button{
    Padding: 8px 0px;
    font-family: Switzer;
    font-size: 0.75rem;
    width: 130%;
    }

    .navbar-top{
        padding: 1% 4% 1% 4%;

    }

    .navbar-bottom{
        padding: 0% 4% 0% 4%;

    }

    .navbar-bottom-text{
        font-size: 0.85rem;
    }
}




@media screen and (max-width:500px){

    .navbar-top-button{
    Padding: 8px 0px;
    font-family: Switzer;
    font-size: 0.7rem;
    width: 150%;
    }

    .navbar-top{
        padding: 1% 4% 1% 4%;

    }

    .navbar-bottom{
        padding: 0% 4% 0% 4%;

    }

    .navbar-bottom-text{
        font-size: 0.8rem;
    }
}



